html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px; 
}

::-webkit-scrollbar-track {
    background: #f0f0f0; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #ff9800; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #e68900; 
}
