:root {
    --color-primario: #07294d;
    --color-secundario: #ffc600;
    --color-texto-blanco: #ffffff;
    --color-texto-secundario: #4b73ae;
    --color-borde: #cdd4db;
    --color-sombra: rgba(161, 160, 160, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

.logo {
    height: 50px;
    width: 80px;
    margin-right: 10px;
}

nav {
    background: var(--color-primario);
    color: var(--color-texto-blanco);
    border-bottom: var(--color-secundario) 1px solid;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
}

section {
    width: 100%;
    max-width: 766px;
    margin: 1rem 0;
    background-color: var(--color-texto-blanco);
    border-radius: 8px;
    box-shadow: 0 2px 8px var(--color-sombra);
    border: 1px solid var(--color-borde);
    overflow: hidden;
}

.container-validation {
    background: linear-gradient(to bottom, var(--color-primario) 50%, transparent 50%);
    padding: 1.5rem;
}

.title {
    text-align: center;
    margin-top: 50px;
    color: var(--color-primario);
}

.title h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

.title p {
    font-weight: 700;
    color: var(--color-texto-secundario);
}

.content-title {
    color: var(--color-texto-blanco);
    padding-bottom: 29px;
}

.verificar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-secundario);
    color: var(--color-primario);
    font-weight: 500;
    border-radius: 8px;
    letter-spacing: 2px;
    padding: 5px 15px;
    border: var(--color-secundario) 1px solid;
}

.verificar:hover {
    background: var(--color-primario);
    color: var(--color-secundario);
    transition: 0.3s;
}

.verificar i {
    text-decoration: none;
    color: var(--color-primario);
}

.verificar:hover i {
    color: var(--color-secundario);
    transition: 0.3s;
}

th {
    height: 56px;
}

.content-title-valiacion {
    padding: 1.5rem;
    background: var(--color-primario);
    color: var(--color-texto-blanco);
}

.container-instruciones {
    padding: 1.5rem;
    background: var(--color-primario);
    color: var(--color-texto-blanco);
}

main p {
    font-weight: 500;
    color: var(--color-borde);
}

footer {
    margin-top: 30px;
    background: var(--color-primario);
    border-top: var(--color-secundario) 1px solid;
}

.derechos {
    color: var(--color-texto-blanco);
    text-align: center;
    padding: 1rem;
}

@media (max-width: 480px) {
    .formulario {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 375px) {
    .empresa p {
        display: none;
    }
}
