* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;

    width: 100%;
    min-height: 100vh;

    padding: 20px 0;

    background-image: url("../img/fondo-pop.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-attachment: fixed;

    position: relative;
}

.logo {
    height: 50px;
    width: 100px;
}

.container-validation {
    margin: 50px;
    display: flex;
    justify-content: center;
    background: white;
    border-radius: 10px;
    border: solid 1px #ffffff;
    box-shadow: 0px 10px 5px rgba(128, 128, 136, 0.25);
    width: 66%;
    padding: 20px;
}

.form-search {
    width: 100%;
}

.formulario {
    display: flex;
}

.search {
    gap: 20px;
}

.verificar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 2px;
    padding: 5px 10px;
}

.container-table {
    margin: 20px;
    width: 70%;  
    overflow-x: auto;  
    box-sizing: border-box;   
}

.table {
    width: 100%; 
    table-layout: auto;  
    margin-top: 15px;
   
}

.table th, .table td {
    text-align: center;  
    vertical-align: middle;  /* Centrado vertical en las celdas */
}

@media (max-width: 768px) {
    .container-table {
        width: 85%;
        overflow: auto;
    }

    .formulario {
        display: flex;
        flex-direction: column;
    }

    .verificar {
        text-align: center;
    }

    
}

@media (max-width: 375px) {
    .empresa p {
        display: none;
    }
}
